# Token do seu bot (encontrado em https://discord.com/developers/applications)
DISCORD_TOKEN=seu_token_aqui

# ID da aplicação do bot (Client ID)
CLIENT_ID=id_da_aplicacao_aqui

# ID do servidor onde os slash commands serão registrados (para registro instantâneo)
GUILD_ID=id_do_servidor_aqui
